/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: text;
  font-size: 14px;
  font-family: 'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei','simsun',sans-serif;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.page {
  width: 100%;
  height: 100%;
}
html {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin: 0;
  padding: 0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.so {
  position: absolute;
}

.xin-box {
  position: absolute;
  left: 266px;
  top: 420px;
}

.xin-box .xin {
  width: 45px;
  height: 35px;
  float: left;
  background-image: url('@|xin-active.png|');
  background-repeat: no-repeat;
  background-position: center;  
}

.xin-box .xin.close {
  background-image: none;
}

.code {
  position: absolute;
  left: 275px;
  top: 468px;
  font-size: 36px;
  line-height: 40px;
  color: #666;
}

.guanqia {
  position: absolute;
  left: 448px;
  top: 321px;
  line-height: 49px;
  width: 163px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.selectd .xuanxiang {
  user-select: none;
  pointer-events: none;
  animation: none;
}

.xuanxiang-1 {
  left: 127px;
}
.xuanxiang-2 {
  left: 400px;
}
.xuanxiang.ok .dui, .mi.ok .dui {
  display: block;
}
.xuanxiang.error {
  background-image: url('@|3-10.png|');
  color: #564f4f;
}
.xuanxiang.error .cuo, .mi.error .cuo {
  display: block;
}

.xuanxiang {
  background-image: url('@|3-9.png|');
  width: 240px;
  height: 156px;
  position: absolute;
  top: 975px;
  background-repeat: no-repeat;
}

.xuanxiang .xuanxiang-show, .mi .xuanxiang-show {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -63px;
  display: none;
}
.xuanxiang .text {
  line-height: 140px;
  font-size: 60px;
  text-align: center;
  color: #298383;
  pointer-events: none;
}

.hide {
  display: none;
}